{% extends "vistaBaseAplicacion.html" %}
{% block content %}
    <form action="{{ url_for('cargarDocumentos', idproceso=idproceso, idtask=idtask) }}" method="post" enctype="multipart/form-data">
        <legend class="mb-5">Carga Documentación de Razón Social</legend>
        <div class="row mb-3">
            <div class="col-sm-12 mb-3">
                <label for="formFile" class="form-label">Razon Social</label>
                <input id="razonSocial" type="text" class="form-control" aria-label="First name" readonly>
              </div>
            <div class="col-sm-6">
                <label for="formFile" class="form-label">RFC</label>
                <input id="rfc" type="text" class="form-control" aria-label="First name" readonly>
            </div>
            <div class="col-sm-6">
                <label for="formFile" class="form-label">Distribuidor</label>
                <input id="distribuidor" type="text" class="form-control" aria-label="Last name" readonly>
            </div>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Acta Constitutiva</label>
            <input type="hidden" name="Acta Constitutiva" value="Acta Constitutiva">
            <input class="form-control" type="file" id="formFile" name="Acta Constitutiva">
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Carta Legal</label>
            <input type="hidden" name="Carta Legal" value="Carta Legal">
            <input class="form-control" type="file" id="formFile" name="Carta Legal">
        </div>
        <div class="mb-5">
            <label for="formFile" class="form-label">Comprobante</label>
            <input type="hidden" name="Comprobante" value="Comprobante">
            <input class="form-control" type="file" id="formFile" name="Comprobante">
        </div>
        <button type="submit" class="btn btn-success">Cargar Documentos</button>
        <a href="{{ url_for('listaInstancias') }}" class="btn btn-secondary">Regresar</a>
    </form>

    <script type='text/javascript' src="{{ url_for('static', filename='js/cargaDatosProceso.js') }}"></script>
{% endblock %}