{% extends "vistaBaseAplicacion.html" %}
{% block content %}
<form action="{{ url_for('cargaComisiones', idproceso=idproceso, idtask=idtask) }}" method="post">
    <legend class="mb-5">Definicion de comisiones</legend>
    <div class="row mb-5">
        <div class="col-sm-12 mb-3">
            <label for="formFile" class="form-label">Razon Social</label>
            <input id="razonSocial" type="text" class="form-control" aria-label="First name" readonly>
          </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">RFC</label>
            <input id="rfc" type="text" class="form-control" aria-label="First name" readonly>
        </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">Distribuidor</label>
            <input id="distribuidor" type="text" class="form-control" aria-label="Last name" readonly>
        </div>
    </div>
    <h5 class="mb-3">Operacion Cuenta Eje</h5>
    <div class="row mb-5">
        <div class="mb-3 row col-sm-6">
            <div class="mb-3 col-sm-12">
                <label for="exampleFormControlInput1" class="form-label">Cash In</label>
                <select name="inTipo" id="cashIn" class="form-select" aria-label="Default select example" oninput="getValorSelectIn(this);">
                    <option value="Porcentaje">Porcentaje</option>
                    <option value="Fijo">Fijo</option>
                </select>
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-10">
              <input name="inCantidad" step="0.01" type="number" id="inputCashInCantidad" class="form-control" id="inputPassword" required>
            </div>
        </div>
        <div class="mb-3 row col-sm-6">
            <div class="mb-3 col-sm-12">
                <label for="exampleFormControlInput1" class="form-label">Cash Out</label>
                <select name="outTipo" id="cashOut" class="form-select" aria-label="Default select example" oninput="getValorSelectOut(this);">
                    <option value="Porcentaje">Porcentaje</option>
                    <option value="Fijo">Fijo</option>
                </select>
            </div>
            <label for="inputPassword" class="col-sm-2 col-form-label">Cantidad</label>
            <div class="col-sm-10">
              <input name="outCantidad" step="0.01" type="number" id="inputCashOutCantidad" class="form-control" id="inputPassword" required>
              <!--onkeydown="if(this.value.length == 4) return false"-->
            </div>
        </div>
    </div>

    <h5 class="mb-3">Operacion por Medios de Pagos Adicionales</h5>
    <div class="row mb-5">
        <div class="mb-3 col-sm-4">
            <label for="inputPassword" class="col-sm-12 col-form-label">ATM</label>
            <div class="col-sm-10">
              <input name="atm" type="number" step="0.01" id="inputCashInCantidad" placeholder="0.00%" class="form-control" id="inputPassword" oninput="caracteristicasCampoPorcentual(this)" required>
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <label for="inputPassword" class="col-sm-12 col-form-label">Tarjta Visa</label>
            <div class="col-sm-10">
              <input name="tarjetaVisa" step="0.01" type="number" id="inputCashInCantidad" placeholder="0.00%" class="form-control" id="inputPassword" oninput="caracteristicasCampoPorcentual(this)" required>
            </div>
        </div>
        <div class="mb-3 col-sm-4">
            <label for="inputPassword" class="col-sm-12 col-form-label">Envio Recepción de Divisas</label>
            <div class="col-sm-10">
              <input name="ERD" type="number" step="0.01" id="inputCashInCantidad" placeholder="0.00%" class="form-control" id="inputPassword" oninput="caracteristicasCampoPorcentual(this);" required>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Continuar proceso</button>
    <a rel="nofollow" href="{{ url_for('listaInstancias') }}" class="btn btn-secondary">Regresar</a>
</form>

<script type='text/javascript' src="{{ url_for('static', filename='js/cargaDatosProcesosDefinirComision.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/opcionesComision.js') }}"></script>
{% endblock %}