{% extends "vistaBaseAplicacion.html" %}
{% block content %}
<h1 class="mb-5">Descarga Contrato Digital</h1>

<form id="base_descarga" class="mb-5" action="{{ url_for('terminarDescarga', idproceso=idproceso, idtask=idtask) }}" method="post">
    <div class="row mb-5">
        <div class="col-sm-12 mb-3">
            <label for="formFile" class="form-label">Razon Social</label>
            <input id="razonSocial" type="text" class="form-control" aria-label="First name" readonly>
          </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">RFC</label>
            <input id="rfc" type="text" class="form-control" aria-label="First name" readonly>
        </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">Distribuidor</label>
            <input id="distribuidor" type="text" class="form-control" aria-label="Last name" readonly>
        </div>
    </div>
    <a href="" id="btnDescargar" download="Contrato_Digital.pdf" class="btn btn-success">Descargar Contrato Digital</a>
    <button class="btn btn-primary" type="submit">Cargar Contrato Firmado</button>
    <a href="{{ url_for('listaInstancias') }}" class="btn btn-secondary">Regresar</a>
</form>

<div class="notificacion">
    <p id="msgEnvioEmail"></p>
</div>

<style>
    .notificacion {
        background: rgb(236, 236, 236);
        padding: 20px;
        border-radius: 10px;
    }

    .notificacion p{
        margin: 0px 0px;
    }
</style>

<script type='text/javascript' src="{{ url_for('static', filename='js/descargaContratoDigital.js') }}"></script>
{% endblock %}

