{% extends "vistaBaseAplicacion.html" %}
{% block content %}
<form action="{{ url_for('cargaFechaActividadEnvio', idproceso=idproceso, idtask=idtask) }}" method="post" enctype="multipart/form-data">
    <legend class="mb-5">Envio del contrato original del cliente</legend>
    <div class="row mb-5">
        <div class="col-sm-12 mb-3">
            <label for="formFile" class="form-label">Razon Social</label>
            <input id="razonSocial" type="text" class="form-control" aria-label="First name" readonly>
          </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">RFC</label>
            <input id="rfc" type="text" class="form-control" aria-label="First name" readonly>
        </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">Distribuidor</label>
            <input id="distribuidor" type="text" class="form-control" aria-label="Last name" readonly>
        </div>
    </div>
    <div class="mb-5">
        <label for="exampleFormControlInput1" class="form-label">Fecha</label>
        <input type="date" name="fechaEnvioContratoOriginalCliente" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
        <p style="font-size: 11px;">Indique la fecha de cuando se envio el contrato original al cliente.</p>
    </div>
    <div>
        {{ form.csrf_token }}
    </div>
    <button type="submit" class="btn btn-success">Continuar proceso</button>
    <a rel="nofollow" href="{{ url_for('listaInstancias') }}" class="btn btn-secondary">Regresar</a>
</form>

<script type='text/javascript' src="{{ url_for('static', filename='js/cargaDatosProcesosEnvioContratoOriginal.js') }}"></script>
{% endblock %}