{% extends "vistaBaseAplicacion.html" %}
{% block content %}
<h1 class="mb-5">Revisión contrato digital</h1>

<form action="{{ url_for('validarContrato', idproceso=idproceso, idtask=idtask) }}" method="post">
    <div class="row mb-5">
        <div class="col-sm-12 mb-3">
            <label for="formFile" class="form-label">Razón social</label>
            <input id="razonSocial" type="text" class="form-control" aria-label="First name" readonly>
          </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">RFC</label>
            <input id="rfc" type="text" class="form-control" aria-label="First name" readonly>
        </div>
        <div class="col-sm-6">
            <label for="formFile" class="form-label">Distribuidor</label>
            <input id="distribuidor" type="text" class="form-control" aria-label="Last name" readonly>
        </div>
    </div>
    <table class="table mb-5">
        <thead class="table-dark">
            <tr>
                <th>Documento</th>
                <th></th>
                <th>Aceptar</th>
                <th>Rechazar</th>
                <th>Motivo</th>
            </tr>
        </thead>
        <tbody id="bodytable">
        </tbody>
    </table>
    <div>
        {{ form.csrf_token }}
    </div>
    <button type="submit" class="btn btn-success">Continuar proceso</button>
    <a rel="nofollow" href="{{ url_for('listaInstancias') }}" class="btn btn-secondary">Regresar</a>
</form>


<script type='text/javascript' src="{{ url_for('static', filename='js/validarContratoDigitalFirmadoTabla.js') }}"></script>
{% endblock %}
