.base_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.contenedor_input {
    width: 400px;
    text-align: center;
}

.contenedor_input label{
    font-size: 20px;
}