{% extends "vistaBaseSeccionAcceso.html" %}
{% block content %}
<div class="container">
    <div class="contenedorPosicion">
        <div class="contenedorElementos">
            <h1 class="mb-5" style="font-size: 60px;">Bienvenido</h1>
            <p class="mb-5">Selecciona una opción:</p>

            <a rel="nofollow" class="btn btn-success" href="{{ url_for('login') }}">Continuar el proceso de alta de mi empresa</a>
            <a rel="nofollow" class="btn btn-secondary" href="{{ url_for('registroNuevaRazonSocial', distribuidor=distribuidor) }}">Iniciar proceso para registrar nueva empresa</a>

        </div>
    </div>
</div>

<style>
    .contenedorPosicion{
        display: flex;
        height: 500px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .contenedorElementos{
        text-align: center;
    }
</style>
{% endblock %}