<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('cargar') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" 
        cam-variable-name="FILE"
        cam-variable-type="File"
        cam-max-filesize="10000000" />
        <button type="submit">Enviar</button>
    </form>
</body>
</html>