{% extends "vistaBaseAplicacion.html" %}
{% block content %}
<div class="container">
    <form action="{{ url_for('iniciarProceso') }}" method="post">
        <legend class="mb-5">Inicio de Proceso de Registro</legend>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Razon Social</label>
            <input type="text" name="razonSocial" class="form-control" id="inputRazonSocial">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">RFC</label>
            <input type="text" name="rfcProspecto" class="form-control" id="inputRFC">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo</label>
            <input type="text" name="correoProspecto" class="form-control" id="inputCorreo">
        </div>
        <div class="mb-5">
            <label for="exampleFormControlInput1" class="form-label">Distribuidor</label>
            <input type="text" name="distribuidor" class="form-control" id="inputDistribuidor" value="{{session.distribuidor}}" readonly>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-center text-danger">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button type="submit" class="btn btn-success">Iniciar Proceso</button>
        <a class="btn btn-secondary" href="{{ url_for('listaInstancias') }}">Regresar</a>
    </form>
</div>

<script type='text/javascript' src="{{ url_for('static', filename='js/cargarDatosUsuarioInicioProceso.js') }}"></script>
{% endblock %}
