{% extends "vistaBaseAplicacion.html" %}
{% block content %}
<h1>Bienvenido</h1>
<p class="mb-5">Complete las tareas asignadas a su usuario.</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Razon Social</th>
            <th>Tarea</th>
            <th>Fecha-Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="bodytable">
    </tbody>
</table>

{% for s in session.grupos %}
    {% if s == "Prospectos" %}
        <a class="btn btn-success" href="{{ url_for('registro') }}">Registrar Nueva Razon Social</a>
    {% endif %}
{% endfor %}

<script type='text/javascript' src="{{ url_for('static', filename='js/tablaInstancias.js') }}"></script>
{% endblock %}